@import '~sass/variables';

nav {
  padding: 30px 15px;
}

.bing-logo,
ul {
  width: calc(50% - 15px);
}

.bing-logo {
  font-size: 3.6rem;
  text-indent: -99999rem;
  max-width: 495px;
  background: url('/assets/images/global/bing-logo.png') 0 0 no-repeat;
  background-size: 495px 47px;
  background: url('/assets/images/global/bing-logo.svg') 0 0 no-repeat, linear-gradient(transparent, transparent);
  background-size: 100% auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}
