@import '~sass/variables';

nav {
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo,
ul {
  width: calc(50% - 15px);
}

.logo {
  font-size: 3.6rem;
  line-height: 1;
  font-weight: 700;
  color: $dark-blue;
}
