html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  background: $dark-grey;
  color: $dark-grey;
}

.main {
  background: $light-grey;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
