html,
body {
  height: 100%;
}

body {
  background: $dark-grey;
  color: $dark-grey;
}

main {
  background: $light-grey;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  margin-bottom: 15px;

  h1,
  .intro {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

.route-holder {
  position: relative;
  overflow: hidden;
  height: 100%;
  clear: both;
}

.intro,
.sub-section {
  padding-right: 60px;
}

.intro {
  width: calc(50% - 15px);

  p:last-of-type {
    margin: 0;
  }
}

.wide {
  height: 100%;
}

aside {
  font-size: 2.4rem;
  color: $dark-blue;
  font-weight: 700;
  margin: 30px 0;
  position: relative;

  .pullquote {
    &:before {
      content: '\201c';
      color: $orange;
      font-size: 20rem;
      line-height: 1;
      margin-bottom: -50px;
      display: block;
    }

    p {
      margin-bottom: 30px;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}

.block {
  width: calc(50% - 30px);
  float: left;
  margin: 15px;

  img {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {

}
