<section class="content group">

  <article class="block">
    <h1>{{ title }}</h1>
    <div class="sub-section" *ngFor="let section of about?.content">
      <h2>{{section.title}}</h2>
      <p *ngFor="let paragraph of section?.body" [innerHTML]="paragraph | keepHtml"></p>
    </div>
  </article>

  <article class="block">

    <div class="reveal">
      <img class="lazy" src="assets/images/global/bing-300.jpg" defaultImage="assets/images/global/bing-10.jpg" useSrcset="true" sizes="100vw" [lazyLoad]="utils.getSrcSet('bing')" alt="Bing Jones">
    </div>

    <aside *ngIf="about?.quotes">
      <div class="pullquote">
        <p *ngFor="let paragraph of about?.quotes[0]">{{paragraph}}</p>
      </div>
    </aside>
  </article>

</section>
