<section class="content">

  <header>

    <h1>{{title}}</h1>

    <article *ngIf="paintings?.intro" class="intro">
      <p *ngFor="let paragraph of paintings?.intro">{{paragraph}}</p>
    </article>

  </header>

  <article class="portraits shuffle group">

    <thumbnail *ngFor="let portrait of portraits; let i = index" [class]="utils.getThumbClasses(i, landscape, portrait?.orientation, paintings?.quotes[utils.getQuoteIndex(i)])" [portrait]="portrait" [blockquote]="portrait?.orientation === 'landscape' && paintings?.quotes ? paintings?.quotes[utils.getQuoteIndex(i)] : false" (showPortrait)="showPortrait($event)"></thumbnail>

  </article>

</section>

<portrait [data]="activatedPortrait" [@ModalAnimation]="{ value: modalState, params: { originTop: widgetTop, originLeft: widgetLeft } }" (modalClose)="modalClose(true)"></portrait>
