<ul class="group">
  <li><a class="nav-home" routerLink="/home" routerLinkActive="active">Home</a></li>
  <li><a class="nav-about" routerLink="/about" routerLinkActive="active">About</a></li>
  <li><a class="nav-paintings" routerLink="/paintings" routerLinkActive="active">Paintings</a></li>
  <li><a class="nav-drawings" routerLink="/drawings" routerLinkActive="active">Drawings</a></li>
  <li><a class="nav-commission" routerLink="/commission" routerLinkActive="active">Commission</a></li>
  <li><a href="http://lifeofaportraitpainter.blogspot.co.uk/" target="_blank">Blog</a></li>
</ul>
<span class="nav-indicator">Current page</span>
