@import '~sass/variables';
@import '~sass/mixins';

:host {
  width: calc(50% - 15px);
  position: relative;
  padding: 2px 0;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;

  li a {
    font-size: 1.6rem;
    font-weight: 700;
    color: $light-blue;
    position: relative;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: $dark-blue;
      text-decoration: none;
    }

    // &:active,
    // &.active {
    //   &:after {
    //     content: '';
    //     width: 100%;
    //     border-bottom: 2px solid $orange;
    //     display: block;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //   }
    // }

    &.active {
      color: $dark-blue;
    }
  }
}

.nav-indicator {
  opacity: 0;
  border-bottom: 2px solid $orange;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s ease;
  text-indent: -99999rem;
  @include hwa();

  &.init {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &.resize {
    transition: all 0.3s ease;
  }
}
