@import '~sass/variables';
@import '~sass/mixins';

:host {
  width: calc(50% - 15px);
  position: relative;
  padding: 2px 0;
}

ul {
  width: 100%;

  li a {
    font-size: 1.6rem;
    font-weight: 700;
    color: $light-blue;
    position: relative;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: $dark-blue;
      text-decoration: none;
    }

    &:active {
      i {
         opacity: 0.999;
      }
    }

    &.active {
      color: $dark-blue;
    }

    i {
       opacity: 0.001;
      position: absolute;
      top: -80%;
      left: 50%;
      transform: translateX(-50%);
      color: $light-blue;
    }
  }
}

.nav-indicator {
   opacity: 0.001;
  border-bottom: 2px solid $orange;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s ease;
  text-indent: -99999rem;
  will-change: width;
  @include hwa();

  &.init {
     opacity: 0.999;
    transition: opacity 0.3s ease;
  }

  &.resize {
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 950px) {

  :host {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 500px) {

  ul li {
    a {
      width: 40px;
      height: 40px;
      display: block;
      text-indent: -99999rem;
      white-space: nowrap;

      i {
         opacity: 0.999;
        text-indent: 0;
        font-size: 2rem;
        color: $light-blue;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.active i {
        color: $dark-blue;
      }
    }
  }

}
