<ul class="group">
  <li><a class="nav-home" routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
  <li><a class="nav-about" routerLink="/about" routerLinkActive="active"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a></li>
  <li><a class="nav-paintings" routerLink="/paintings" routerLinkActive="active"><i class="fa fa-paint-brush" aria-hidden="true"></i>Paintings</a></li>
  <li><a class="nav-drawings" routerLink="/drawings" routerLinkActive="active"><i class="fa fa-pencil" aria-hidden="true"></i>Drawings</a></li>
  <li><a class="nav-commission" routerLink="/commission" routerLinkActive="active"><i class="fa fa-handshake-o" aria-hidden="true"></i>Commission</a></li>
  <li><a href="http://lifeofaportraitpainter.blogspot.co.uk/" target="_blank">Blog</a></li>
</ul>
<span class="nav-indicator">Current page</span>
