<!-- <div class="main" [@RouterAnimation]="routerState" (@RouterAnimation.done)="animationDone($event)"> -->
<main class="group">

  <page-head [targetPage]="targetPage"></page-head>

  <!-- <section class="route-holder" [@routerAnimation]="routerState" (@routerAnimation.start)="animationStart($event)" (@routerAnimation.done)="animationDone($event)"> -->

  <section class="route-holder">

    <!-- <article [@routerAnimation]="routerState" (@routerAnimation.done)="animationDone($event)"> -->

      <router-outlet></router-outlet>

    <!-- </article> -->

  </section>

  <page-foot></page-foot>

</main>
