@import '~sass/variables';

footer {
  padding: 30px 15px;
}

small {
  display: block;
}

.bw-logo {
  width: 50%;
  font-size: 3.6rem;
  text-indent: -99999rem;
  max-width: 115px;
  background: url('/assets/images/global/bw-logo.png') 0 0 no-repeat;
  background-size: 115px 40px;
  background: url('/assets/images/global/bw-logo.svg') 0 0 no-repeat, linear-gradient(transparent, transparent);
  background-size: 100% auto;

  img {
    height: 40px;
    width: auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

@media screen and (max-width: 400px) {

  .small-print,
  .bw-logo {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .small-print {
    margin-bottom: 20px;
  }

}
