<section class="content">

  <heading [title]="title">
    <breadcrumb header-secondary [title]="title"></breadcrumb>
  </heading>

  <article class="widgets">

    <widget class="bill" *ngFor="let bill of bills; let i = index" [class.overview]="i === 0" [class.previous]="i !== 0" (click)="getWidgetCoordinates($event, bill)">
      <h2 *ngIf="i === 0" widget-header>{{bill?.date | formatDate}}</h2>
      <div *ngIf="i === 0" widget-content>
        <h3 class="bill-price"><i class="fa fa-gbp"></i>{{bill?.amount.toString() | slice:0:2}}.<sup>{{bill?.amount.toString() | slice:3:5}}</sup></h3>
        <ul class="details">
          <li>
            <h3>You pay</h3>
            <span class="detail">{{billing?.frequency}}</span>
          </li>
          <li>
            <h3>Using</h3>
            <span class="detail">{{billing?.paymentMethod}}</span>
          </li>
          <li>
            <h3>Next bill date</h3>
            <span class="detail">{{latestBill?.id | billingDate:billing?.startDate:billing?.frequency:'due'}}</span>
          </li>
        </ul>
      </div>
      <img *ngIf="i === 0 && userId" class="bill-image" [src]="'./../assets/' + userId + '-bill-' + bill?.id + '.png'" widget-extra>

      <h2 *ngIf="i !== 0" widget-header>{{bill?.date | date:'d MMM yy'}}</h2>
      <div *ngIf="i !== 0" widget-content>
        <!-- <a [routerLink]="['/bills/13']">Open bill</a> -->
        <!-- <a [routerLink]="[ {outlets: { 'bill': bill?.id } } ]">Open bill</a> -->
        <!-- <a (click)="showBill(bill?.id)">Show me the cheffing bill</a> -->
        <h3 class="bill-price"><i class="fa fa-gbp"></i>{{bill?.amount.toString() | slice:0:2}}.<sup>{{bill?.amount.toString() | slice:3:5}}</sup></h3>
        <span class="icon faded">
          <i class="fa fa-envelope-o fa-3x closed" aria-hidden="true"></i>
          <i class="fa fa-envelope-open-o fa-3x open" aria-hidden="true"></i>
        </span>
      </div>
      <ul class="bill-indicator" *ngIf="i !== 0" widget-extra>
        <li *ngFor="let item of bills; let j = index" [class.current]="j === i"></li>
      </ul>
    </widget>

  </article>
</section>

<modal [bill]="activatedBill">
  <div modal-header>Login</div>
  <div modal-body>Login body</div>
  <div modal-footer>Login footer</div>
</modal>
