<section class="content group">

  <article class="block">
    <h1>{{ title }}</h1>
    <ng-container *ngFor="let subsection of commission?.pricing">
      <h2>{{subsection?.title}}</h2>
      <p *ngFor="let paragraph of subsection?.intro">{{paragraph}}</p>
      <div class="sub-section" *ngFor="let section of subsection?.content">
        <h3>{{section.subheader}}</h3>

        <ng-container *ngIf="section.subheader !== 'Address'">
          <p *ngFor="let paragraph of section?.body" [innerHTML]="paragraph | keepHtml"></p>
        </ng-container>

        <ng-container *ngIf="section.subheader === 'Address'">
          <div class="vcard">
            <div class="adr" itemprop="address" itemscope="itemscope" itemtype="http://data-vocabulary.org/Address/">
              <span *ngFor="let paragraph of section?.body; let i = index"
                [class.street-address]="i === 1"
                [class.locality]="i === 2"
                [class.region]="i === 3"
                [class.postal-code]="i === 4"
                [class.country-name]="i === 5">{{paragraph}}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </article>

  <article class="block">

    <div class="reveal">
      <picture>
        <source
          type="image/webp"
          [attr.data-srcset]="utils.getSrcSet('studio', 'webp')">
        <source
          type="image/jpeg"
          [attr.data-srcset]="utils.getSrcSet('studio', 'jpg')">
        <img
          class="preview lazyload"
          src="assets/images/global/studio-10.jpg"
          data-sizes="auto"
          alt="Whiteley Wood Studio">
      </picture>
    </div>

    <h2>{{commission?.comments.title}}</h2>
    <blockquote *ngFor="let paragraph of commission?.comments.body">
      <p class="quote">{{paragraph}}</p>
    </blockquote>
  </article>

</section>
