<div class="modal-bg" (click)="closeModal()"></div>
<div class="modal-content group">
  <section [class]="data?.orientation">

    <img *ngIf="data && data?.orientation === 'landscape'" sizes="100vw"
      [srcset]="'assets/images/pictures/' + data?.type + '/' + data?.id + '-2400.jpg 2400w,
          assets/images/pictures/' + data?.type + '/' + data?.id + '-1200.jpg 1200w,
          assets/images/pictures/' + data?.type + '/' + data?.id + '-600.jpg 600w'"
      [src]="'assets/images/pictures/' + data?.type + '/' + data?.id + '-600.jpg'" [alt]="data?.subject + ' Portrait'">

    <img *ngIf="data && data?.orientation !== 'landscape'" sizes="50vw"
      [srcset]="'assets/images/pictures/' + data?.type + '/' + data?.id + '-1200.jpg 1200w,
          assets/images/pictures/' + data?.type + '/' + data?.id + '-600.jpg 600w,
          assets/images/pictures/' + data?.type + '/' + data?.id + '-300.jpg 300w'"
      [src]="'assets/images/pictures/' + data?.type + '/' + data?.id + '-300.jpg'" [alt]="data?.subject + ' Portrait'">

    <article class="details">
      <h1>{{data?.title}} {{data?.subject}}</h1>
      <h2>{{data?.material}}</h2>
      <h3 *ngIf="data?.job">{{data?.job}}</h3>

      <div class="description">
        <p *ngFor="let paragraph of data?.description">{{paragraph}}</p>
      </div>
    </article>
  </section>
  <button class="modal-close" (click)="closeModal()"></button>
  <span class="pointer"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
</div>
