<div class="modal-bg" (click)="closeModal()"></div>
<div class="modal-content group">
  <button class="modal-close" (click)="closeModal()"></button>
  <section [class]="data?.orientation">
    <!-- <article class="picture"> -->
      <!-- <img *ngIf="data" [src]="'assets/images/pictures/' + data?.type + '/' + data?.id + '-1200.jpg'"[alt]="data?.subject + ' Portrait'"> -->
      <img *ngIf="data" [src]="'assets/images/pictures/' + data?.type + '/' + data?.id + '-1200.jpg'" [alt]="data?.subject + ' Portrait'">
      <!-- <img *ngIf="data?.modifier" [src]="'assets/images/pictures/' + data?.type + '/' + data?.id + '-' + data?.modifier + '-1200.jpg'"[alt]="data?.subject + ' Portrait'"> -->
    <!-- </article> -->
    <article class="details">
      <h1>{{data?.title}} {{data?.subject}}</h1>
      <h2>{{data?.material}}</h2>
      <h3 *ngIf="data?.job">{{data?.job}}</h3>

      <div class="description">
        <p *ngFor="let paragraph of data?.description">{{paragraph}}</p>
      </div>
    </article>
  </section>
  <span class="pointer"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
</div>
