@import '~sass/variables';
@import '~sass/mixins';

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  width: 90%;
  height: 90%;
  transform: scale(1);
  position: fixed;
  top: 5%;
  left: 5%;
  padding: 30px;
  background: $dark-grey;
  color: $light-grey;
  box-shadow: 0px 0px 3px 1px $light-grey;
  @include hwa();

  .portrait {
    // display: flex;
    // flex-wrap: wrap;
    height: 100%;
    // overflow: hidden;
    overflow: scroll;
    // justify-content: space-between;
    // align-items: center;
  }

  img,
  h1,
  h2,
  h3,
  p {
    // @include hwa();
  }

  img,
  .details {
    // float: left;
  }

  // .picture {
  //   width: 50%;
  //   // float: left;
  //   // height: auto;
  //   margin-bottom: 30px;
  //
  //   img {
  //     width: 100%;
  //   }
  // }

  img {
    height: 100%;
    width: auto;
    float: left;
    margin: 0 30px 30px 0;
  }

  .details {
    // width: calc(50% - 30px);
    // width: 50%;
    // padding: 30px 0 0 30px;
    padding: 30px 30px 0 0;
  }

  h2 {
    span {
      font-weight: 300;
    }
  }

  .description {
    margin-top: 30px;
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: $orange;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;

  &:after {
    content: '\d7';
    position: absolute;
    @include centre();
    font-size: 2rem;
    line-height: 0;
  }

  &:hover,
  &:focus {
    background: $dark-blue;
  }

  &:active {
    background: $orange;
  }
}
