<section class="content">

  <header>

    <article class="intro">
      <p *ngFor="let paragraph of drawings?.intro">{{paragraph}}</p>
    </article>

    <h1>{{title}}</h1>

  </header>

  <article class="portraits shuffle group">

    <thumbnail *ngFor="let portrait of portraits; let i = index" class="holder" [portrait]="portrait" (showPortrait)="showPortrait($event)"></thumbnail>

  </article>

</section>

<portrait [data]="activatedPortrait" [@ModalAnimation]="{ value: modalState, params: { originTop: widgetTop, originLeft: widgetLeft } }" (modalClose)="modalClose(true)"></portrait>
