<IfModule mod_rewrite.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Credentials true
  Options Indexes FollowSymLinks

  RewriteEngine On
  RewriteBase /

  # Non-WWW redirect
  # RewriteCond %{HTTP_HOST} ^www\. [NC]
  # RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  # RewriteCond %{HTTP_HOST} ^bingjones.co.uk [NC]
  # RewriteRule ^(.*)$ https://www.bingjones.co.uk/$1 [L,R=301]

  # HTTPS redirect
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  # RewriteCond %{SERVER_PORT} 80
  # RewriteRule ^(.*)$ https://www.bingjones.co.uk/$1 [L,R=301]

  # React/Angular redirect
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
