<article class="intro">
  <p *ngFor="let paragraph of home?.intro">{{ paragraph }}</p>
</article>

<article class="portraits">

  <div *ngFor="let portrait of portraits; let i = index" class="portrait group" [class.half]="i === 0" [class.stacked]="i > 0 && i < 5" [class.quarter]="i > 5 && i < 10" [class.third]="i > 9 && i < 13" [class.landscape]="portrait.orientation === 'landscape'">
    <blockquote *ngIf="portrait.orientation === 'landscape'">Blah</blockquote>
    <img [src]="'./../assets/' + portrait?.id + '.jpg'">
    <div class="title"><h2>{{ portrait?.title }} {{ portrait?.subject }}</h2></div>
  </div>

</article>
