<section class="content">

  <header>

    <h1>{{title}}</h1>

    <article class="intro">
      <p *ngFor="let paragraph of home?.intro">{{paragraph}}</p>
    </article>

  </header>

  <article class="portraits group">

    <thumbnail *ngFor="let portrait of portraits; let i = index" [class]="utils.getHomeClasses(i)" [class.landscape]="portrait.orientation === 'landscape'" [portrait]="portrait" [blockquote]="portrait.orientation === 'landscape' ? true : false" (showPortrait)="showPortrait($event)"></thumbnail>

  </article>

</section>

<portrait *ngIf="activatedPortrait" [data]="activatedPortrait" [@ModalAnimation]="{ value: modalState, params: { originTop: widgetTop, originLeft: widgetLeft } }" (modalClose)="modalClose(true)"></portrait>
