@import '~sass/variables';

@keyframes loadImage {
  from { transform: scale(1.05); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

:host {
  margin: 15px;
  float: left;
  width: calc(25% - 30px);
  position: relative;

  .thumbnail {
    overflow: hidden;
    position: relative;
    background: $medium-grey;

    &:hover,
    &:focus {
      .title {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:active {
      .title {
          background: rgba($dark-blue, 0.6);
          transition: all 0.1s ease;
      }
    }
  }

  &.half {
    width: calc(50% - 30px);

    &.right {
      float: right;
    }
  }

  &.stacked,
  &.quarter {
    width: calc(25% - 30px);
  }

  &.stacked {
    margin-bottom: 18px;
  }

  &.third {
    width: calc(33.33% - 30px);
  }

  &.landscape,
  &.clear {
    clear: both;
  }

  &.landscape {
    width: calc(100% - 30px);

    .thumbnail,
    &.wide aside + .thumbnail {
      width: calc(75% - 10px);
    }

    &.wide .thumbnail {
      width: 100%;
    }

    aside {
      width: calc(25% - 20px);
      margin: 0 30px 0 0;
    }

    .grid {
      position: absolute;
    }

    .preview {
      position: relative;
    }
  }

  &.none {
    display: none;
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2vw);

    &.ng-lazyloaded {
      filter: none;
      will-change: transform, opacity;
      animation: loadImage 1s ease-out;
    }
  }

  .title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background: rgba($dark-grey, 0.6);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.25s ease;

    h2 {
      color: #fff;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 900px) {

  :host {
    margin: 10px;
    width: calc(25% - 20px);

    &.half {
      width: calc(50% - 20px);
    }

    &.stacked,
    &.quarter {
      width: calc(25% - 20px);
    }

    &.stacked {
      margin-bottom: 14px;
    }

    &.third {
      width: calc(33.33% - 20px);
    }

    &.landscape {
      width: calc(100% - 20px);

      aside {
        width: calc(25% - 15px);
        margin-right: 20px;
      }

      .thumbnail {
        width: calc(75% - 5px);
      }
    }
  }

}

@media screen and (max-width: 700px) {

  :host {
    &.landscape {
      aside {
        display: none;
      }

      .thumbnail {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 600px) {

  :host {
    margin: 5px;
    width: calc(25% - 10px);

    &.half,
    &.stacked,
    &.quarter,
    &.stacked,
    &.third,
    &.none {
      margin-bottom: 5px;
      width: calc(50% - 10px);
    }

    &.none {
      display: block;
      width: 100%;
    }

    &.half.clear {
      clear: none;

      &:first-of-type {
        width: calc(50% - 10px);
      }
    }

    &.landscape,
    &.stacked.second {
      width: calc(100% - 10px);
    }
  }

}
